@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .heading_1 {
    @apply text-center font-bold text-2xl md:text-4xl leading-[1.625] tracking-tighter text-secondaryColor;
  }
}

.light {
  --body: #fafafb;
  --primary: #1890ff;
  --primaryHover: #007aec;
  --secondary: #1e0e62;
  --grayColor: #a1a1b0;
  --black: #000000;
  --white: #ffffff;
  --danger: red;
  --border: #ebeaed;
  --text: #374151;
}

.dark {
  --body: #000000;
  --primary: #1890ff;
  --primaryHover: #007aec;
  --secondary: #1e0e62;
  --grayColor: #a1a1b0;
  --black: #ffffff;
  --white: #000000;
  --danger: red;
  --border: #ebeaed;
  --text: #374151;
}

html {
  background: var(--body) !important;
}
body {
  background: var(--body) !important;
}

*::-webkit-scrollbar {
  width: 7px;
  height: 8px;
}

*::-webkit-scrollbar-track {
  background-color: var(--white);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--primary);
  border: 1px solid transparent;
  background-clip: content-box;
}

.custom-input {
  @apply w-full rounded-full text-blackColor bg-whiteColor box-border flex flex-row items-center justify-start py-[12px] px-4 border-[2px] border-solid border-borderColor outline-none;
}

.btn {
  @apply rounded-full flex flex-row items-center justify-center py-[14px] px-4 text-[18px] cursor-pointer transition-all ease-out capitalize;
}

.react-datepicker-wrapper {
  @apply w-full;
}
